[Desktop Entry]
Version=1.0
Name=Arnihs
Comment=First release of Arnihs
Exec=sh $HOME/.local/share/Arnihs/launch.sh
#Icon=$HOME/.local/share/Arnihs/Icon.png
Icon=/home/cyril/.local/share/Arnihs/Icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
