[Desktop Entry]
Version=1.0
Name=Arnihs
Comment=First release of Arnihs
Exec=LD_LIBRARY_PATH=./lib &&Arnihs
Icon=$HOME/.local/share/Arnihs/Icon.png
Terminal=false
Type=Application
Categories=Utility;Application;
